<div class="background">
  <div class="overlay">
    <!-- Toolbar -->
    <div class="toolbar">
      <div class="logo-container">
        <div class="logo-circle">
          <img src="assets/images/logo-waterguard.jpeg" alt="WaterGuard Logo" class="logo-image">
        </div>
        <p class="logo-text">WATERGUARD</p>
      </div>
      <div class="section-list">
        <a href="#start">Start</a>
        <a href="#description">Description</a>
        <a href="#digital-twin">Digital Twin</a>
        <a href="#our-team">Our Team</a>
        <a href="#socials">Socials</a>
      </div>
    </div>
    <!-- Init the page -->
    <section id="start" class="section-container">
      <div class="option">
        <h1 class="centered-text">
          Optimize Water Resources<br>With IOT and Digital Twins
        </h1>
        <div class="button-container">
          <a href="https://g-f19a648cfe.grafana-workspace.us-east-1.amazonaws.com/d/fe48swl5qmu4gb/waterguard-dashboard?orgId=1&refresh=5s&from=1731868174254&to=1731889774254" target="_blank" class="get-started-button">GET STARTED</a>
        </div>
      </div>
    </section>
    <!-- Secciones de Contenido -->
    <section id="description" class="section-container">
      <div class="option">
        <img src="assets/images/description.png" alt="Description" class="option-image">
        <div class="option-content">
          <p class="option-text">Description</p>
          <p class="option-description">
            En WaterGuard, nos dedicamos a revolucionar la gestión y monitoreo del agua mediante tecnologías avanzadas como gemelos digitales e IoT. Nuestra misión es liderar el cambio en el sector, ofreciendo soluciones que optimizan el control en tiempo real de los recursos hídricos.
          </p>
        </div>
      </div>
    </section>
    <section id="digital-twin" class="section-container">
      <div class="option">
        <img src="assets/images/digital.jpg" alt="Digital Twin" class="option-image">
        <div class="option-content">
        <p class="option-text">Digital Twin</p>
        <p class="option-description">
          Nuestro sistema de gemelos digitales utiliza Amazon Cloud para proporcionar una representación virtual de los recursos hídricos, permitiendo monitoreo, análisis y control eficiente. Esta tecnología facilita la toma de decisiones en tiempo real.
        </p>
        </div>
      </div>
    </section>
    <section id="our-team" class="section-container">
      <div class="option">
        <img src="assets/images/team.jpg" alt="Our Team" class="option-image">
        <div class="option-content">
        <p class="option-text">Our Team</p>
        <p class="option-description">
          Somos estudiantes de la UPC en Perú, comprometidos en transformar la gestión del agua con gemelos digitales e IoT. Nuestro proyecto busca simplificar el monitoreo en tiempo real de los tanques de agua, promoviendo el uso eficiente de este recurso vital.
        </p>
        </div>
      </div>
    </section>
    <section id="socials" class="section-container">
      <div class="option">
        <img src="assets/images/social.jpg" alt="Socials" class="option-image">
        <div class="option-content">
        <p class="option-text">Find us on our social networks</p>
        <p class="option-description">
          <a href="https://instagram.com" target="_blank">Instagram</a><br>
          <a href="https://facebook.com" target="_blank">Facebook</a><br>
          <a href="https://twitter.com" target="_blank">Twitter</a><br>
          <a href="https://linkedin.com" target="_blank">Linkedin</a>
        </p>
        </div>
      </div>
    </section>
  </div>
</div>
